body {
    background-color:rgb(134, 120, 158);
    color:rgb(13, 47, 77);
    width: fit-content;
    margin-top: 0 auto;
    text-align: left;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}